.encabezado {
    background-color: #333;
    background-image: url("cool-background\ \(1\).jpeg");
    padding: 20px;
    text-align: center;
}

/* Contenedor de icono + texto */
.titulo-container {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

/* Estilo del título */
h1 {
    font-size: 48px;
    font-family: 'Brush Script MT', cursive;
    color: #333;
    margin: 0;
}
