body
{
    background-color: #333;
}

.encabezado 
{
    background: rgb(2,0,36);
    background: linear-gradient(39deg, rgb(33, 33, 41) 100%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%);
    padding: 20px;
    text-align: center;
}

/* Contenedor de icono + texto */
.titulo-container 
{
    display: inline-flex;
    align-items: center;
}

/* Estilo del título */
.Titulo-header
{
    font-size: 48px;
    font-family: 'Copperplate', Serif;
    color: #d2cfcf;
    margin: 0;
}

.primer-slate 
{
    position: relative;             /* Para posicionar el botón arriba a la izquierda */
    width: 100%;
    height: 600px;                  /* Ocupa toda la altura visible */
    
    background-image: url("silueta-hombre-gimnasio_23-2148024303.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    display: flex;
    justify-content: center;       /* Centra .box-central1 horizontalmente */
    align-items: center;           /* Centra .box-central1 verticalmente */
}

.Menu-barras 
{
    position: absolute;            /* Se posiciona dentro del contenedor */
    top: 15px;                     /* Cuantos pixeles por debajo del top*/
    left: 15px;                    /* Cuantos pixeles a la derecha del borde izquierdo*/
    background-color: transparent;
    border-color: #333;
    border-radius: 10px;
    font-size: 35px;
    color: #d2cfcf;
    cursor: pointer;
}

.Boton-entrenamiento 
{
    position: absolute;
    bottom: 270px;
    padding: 8px 8px;
    font-size: 22px;
    background-color: transparent;
    border: 2px solid #d2cfcf ;
    border-radius: 5px;
    color: #d2cfcf;
    cursor: pointer;
    box-shadow: 0 1.5px #d2cfcf; /* sombra que se verá como el fondo del botón */
    font-family: 'Copperplate', Serif;
}

.Texto-slate1
{
    position: absolute;
    top: 30px;
    background-color: transparent;
    color: #d2cfcf;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Copperplate', Serif;
    font-size: large;
}