body
{
    background-color: #333;
}

.encabezado 
{
    background: rgb(2,0,36);
    background: linear-gradient(39deg, rgb(33, 33, 41) 0%, rgba(0,0,0,1) 75%, rgba(255,255,255,1) 100%);
    padding: 15px;
    text-align: center;
}

/* Contenedor de icono + texto */
.titulo-container 
{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

/* Estilo del título */
h1 
{
    font-size: 48px;
    font-family: 'Copperplate', Serif;
    color: #d2cfcf;
    margin: 0;
}
